{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}just download{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'result.css' %}">
    <script src="{% static 'jquery1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="{% block search_row %}col-md-6 col-md-offset-3{% endblock %}">
                <div class="input-group input-group-lg" style="{% block input_style %}margin-top: 15em{% endblock %}">
                    <input type="text" class="form-control search-input" placeholder="search">
                    <span class="input-group-btn">
                        <button id="search" class="btn btn-default" type="button" onclick="search()">GO!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{% block suggest_list %}col-md-6 col-md-offset-3{% endblock %}">
                <ul class="list-group datalist">
                </ul>
            </div>
        </div>
        {% block result %}{% endblock %}
    </div>
</body>

<script>

    var search_arr;
    if(localStorage.search){
        search_arr = localStorage.search.split(',');
    }else{
        search_arr = [];
    }
    if(search_arr.length>5){
            search_arr.length=5;
        }
    String.prototype.format = function(){
        var str = this;
        for(var i=0; i<arguments.length; i++){
            str = str.replace(new RegExp('\\{'+i+'\}', 'g'), arguments[i]);
        }
        return str;
    }
    $("input.search-input").bind("input propertychange", function(){
        // 输入汉字会执行两次？？？？？
        var search_word = $(this).val();
        // 输入词过短不发送ajax请求
           if(search_word.length<2){
                $('.datalist').html('');
                return;
           }
           $.ajax({
                url: "{% url 'suggest' %}",
                type: 'GET',
                data: {'search_word':search_word},
                cache: false,
                success: function(data){
                    console.log(data.suggest);
                    // 每次获取数据后清空ul
                    $('.datalist').html('');
                    for(var i=0;i<data.suggest.length;i++)
                    {
                        if(data.suggest[i]!=''){
                            $('.datalist').append(
                                '<a class="list-group-item" href="search?search_word={0}&page=1">{1}</a>'.format(data.suggest[i], data.suggest[i].slice(0,20))
                                );
                        }    
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                },
           })
        });
    // 移除重复值
    function removeByValue(arr, value){
        for(var i=0; i<arr.length; i++){
            if(arr[i].trim() === value){
                arr.splice(i,1);
            }
        }
        // return arr;
    }
    function search(){
        var search_word = $('input.search-input').val();
        if(search_word.length <1 || search_word.length > 20){
            return ;
        }
        $('#search').addClass('disabled');
        for(var i=0; i<search_arr.length; i++){
            if(search_arr[i] === search_word){
                removeByValue(search_arr, search_word);
            }
        }
        // 点击搜索按钮后添加搜索记录至localStorge的search变量中
        search_arr.unshift(search_word);
        localStorage.search = search_arr;

        url = "{% url 'search' %}?search_word="+search_word+"&page=1";
        window.location.href = url;
        $('#search').removeClass('disabled');
    }
    // 输入框获得焦点后显示搜索记录
    $('.search-input').focus(function(){
        $('ul.datalist').html('');
        for(var i=0; i<search_arr.length; i++){
            $('ul.datalist').append(
                '<a class="list-group-item" href="javascript:void(0);" ><span onclick="to(this)"><span class="glyphicon glyphicon-time"></span>    {1}</span><span class="glyphicon glyphicon-remove pull-right" onclick="remove_history(this)"></span></a>'.format(search_arr[i], search_arr[i].slice(0, 20))
                );
        }
    });
    // $('.search-input').blur(function(){
    //     // 延迟失去焦点事件的执行
    //     setTimeout(function(){
    //         $('ul.datalist').html('');
    //     }, 500);
    // });
    function to(obj){
        search_word = $(obj).text().trim();
        window.location.href = '{% url "search" %}?search_word='+search_word+'&page=1';
    }
    // 清除历史记录
    function remove_history(obj){
        var val = $(obj).parent('a').text().trim();
        $(obj).parent('a').addClass('hidden');
        removeByValue(search_arr, val);
        localStorage.search = search_arr;
        // e.stopPropagation();
    }
</script>
{% block script_area %}{% endblock %}
</html>